*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: 0 auto;
    padding: 20px;
    
}

.logo{
    color: #f9faf8;
    font-size: 24px;
}

.nav-links{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav-links li{
    margin-left: 10px;
}

.nav-links a{
    text-decoration: none;
    color: #f9faf8;
}

.hero{
    background-color: #1f2937;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 35px;
}

.hero .main{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.hero .subtext{
    color: #e5e7eb;
    font-size: 18px;
}

.hero-btn{
    padding: 8px;
    margin-left: 10px;
    width: 100px;
    border-radius: 5px;
    border: none;
    background-color: #3882f6;
    color: #f9faf8;
}

.extra-info{
    margin: 0 auto;
    padding: 10px;
    height: 300px;
    padding: 10px;
    background-color: #f9faf8;
}

.item-cont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.item{
    width: 100px;
    height: 100px;
    border: solid #3882f6;
    border-radius: 5px;

   
}

.testimonial{
    height: 350px;
    background-color: #e5e7eb;
    color: #1f2937;
    text-align: center;
    margin: 0 auto;
    padding: 30px 0;
    font-size: 36px;
    font-family: 'italic';
}

.citation{
    margin-top: 10px;
    margin-left: 350px;
}

.call-to-action{
    height: ;
    background-color: #3882f6;
    display: flex;
}

